.App {
  text-align: center;
}


.App-header {
  background-color: #282934;
  padding-top: 1em;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.titulo{
  font-size: x-large;
}


.mapa{
  width: 80%;
  margin: auto;
}

.social-icon:hover{
  transform: rotateZ(20deg);
}

.whatsApp-icon{
  padding: 0em;
  margin-left: 0em;
  margin-right: 0.5em;
}

.carrusel img {
  text-align: center;
  height: min(60vh, 60vw);
  object-fit: fill;
}